@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkCyan: #0e8781;
  --darkGreyBlue: #333d4b;
  --lightCreamBlue: #fefcf7;
  --grey: #83888f;
  --paleOrange: #fdd6ba;
}

.font-fraunces {
  font-family: 'Fraunces', sans-serif;
}

.font-barlow {
  font-family: 'Barlow', sans-serif;
}

.hero-section{
  background-image: url('/images/Bitmap.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 height: 80vh;
 border-radius: 20px;
}

.line{
  border-top: 2px solid #FDD6BA;
  width: 21rem;
}

@media (min-width: 1024px) {
  .hero-section {
    background-image: url('/images/Bitmap-tab.jpg');
    
  }

  .line{
  border-top: 2px solid #FDD6BA;
  width: 21rem;
}
}

@media (max-width: 1024px) {
  
  .line{
   width: 15rem;
}
}

@media (max-width: 800px) {
  .hero-section {
    background-image: url('/images/Bitmap-mobile.jpg');
  }
}

.text-gradient {
  background-image: linear-gradient(to bottom, #979797, white);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}